* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body header {
  background-color: #0076a3;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 450px) {
  body header {
    padding: 10px;
  }
}
body header .logo {
  width: 40px;
  cursor: pointer;
}
body header .logo img {
  width: 100%;
}
body header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
body header nav .nav-links {
  display: flex;
  max-height: 200px;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 450px) {
  body header nav .nav-links {
    flex-direction: column;
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 64px;
    right: 0;
    gap: 0;
  }
  body header nav .nav-links.active {
    transform: translateX(0%);
    z-index: 1;
  }
  body header nav .nav-links.inactive {
    transform: translateX(100%);
  }
}
body header nav .nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #0076a3;
  padding: 20px;
}
@media (max-width: 450px) {
  body header nav .nav-links a {
    color: white;
  }
  body header nav .nav-links a:hover {
    background-color: #00b7ff;
    color: white;
  }
}
body header nav .nav-links .active {
  background-color: #00b7ff;
}
body header nav .nav-links .has-submenu:hover {
  color: white;
}
body header nav .nav-links .has-submenu a {
  display: flex;
}
body header nav .nav-links .has-submenu a:hover {
  color: #00b7ff;
}
@media (max-width: 450px) {
  body header nav .nav-links .has-submenu a {
    width: 100%;
    padding: 30px;
  }
  body header nav .nav-links .has-submenu a:hover {
    color: white;
  }
}
body header nav .nav-links .has-submenu ul {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: white;
  position: absolute;
  right: 0;
  padding-top: 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1rem);
  transition-property: opacity, visibility, transform;
  transition-timing-function: ease-in-out;
  top: 18px;
  z-index: 1;
}
body header nav .nav-links .has-submenu ul li {
  padding: 10px;
  width: 150px;
  color: white;
  list-style: none;
  font-weight: bold;
  background-color: #00b7ff;
  cursor: pointer;
}
@media (max-width: 450px) {
  body header nav .nav-links .has-submenu ul li {
    width: auto;
  }
}
body header nav .nav-links .has-submenu ul li:hover {
  background-color: white;
  color: #0076a3;
}
body header nav .nav-links .has-submenu:hover ul {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 450px) {
  body header nav .nav-links .has-submenu:hover ul {
    transform: translateX(-100%);
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
    right: 0;
    width: 100%;
  }
}
body header nav .userAccount {
  display: flex;
}
body header nav .userAccount .shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body header nav .userAccount .shopping-cart svg {
  font-size: 20px;
  color: white;
}
body header nav .userAccount .shopping-cart span {
  background-color: #00b7ff;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: 15px;
}
body header nav .userAccount .user-login {
  display: flex;
  gap: 5px;
}
body header nav .userAccount .user-login button {
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
body header nav .userAccount .user-login .profile {
  background-color: #00b7ff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
}
body header nav .userAccount .user-login .profile svg {
  font-size: 15px;
  color: white;
}
body header nav .userAccount .userLoginPopup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
body header nav .userAccount .userLoginPopup .wrapper {
  background-color: #00b7ff;
  padding: 10px;
}
body header nav .userAccount .userLoginPopup .wrapper h3 {
  color: white;
  margin-bottom: 5px;
}
body header nav .userAccount .userLoginPopup .wrapper form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
body header nav .userAccount .userLoginPopup .wrapper form input {
  padding: 10px;
}
body header nav .userAccount .userLoginPopup .wrapper form button {
  padding: 10px;
}
body header nav .userAccount .userLoginPopup .wrapper p {
  padding: 10px;
  border: solid rgb(255, 255, 255) 0.1rem;
  margin-top: 10px;
  font-size: small;
  color: white;
}
body header nav .userAccount .userLoginPopup .wrapper p a {
  color: white;
}
body header .burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
@media (max-width: 450px) {
  body header .burger {
    display: flex;
    color: white;
  }
}
body header .burger svg {
  font-size: larger;
}
body header .burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
body header .burger .active:nth-child(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
body header .burger .active:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}
body header .burger .active:nth-child(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
body .hero {
  height: 50Vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .hero img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body .hero .hero-details {
  position: absolute;
  color: white;
  left: 40px;
}
@media (max-width: 450px) {
  body .hero .hero-details {
    left: 10px;
    right: 10px;
  }
}
body .hero .hero-details button {
  padding: 10px;
  width: 125px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-color: #00b7ff;
  color: white;
  margin-top: 5px;
}
body .video span {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
  padding: 5px 20px;
  background-color: #00b7ff;
}
@media (max-width: 450px) {
  body .video span {
    padding: 5px 10px;
  }
}
body .video span a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}
body .video span a svg {
  cursor: pointer;
  padding: 5px;
  color: #0076a3;
}
body .video span div {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .video span div button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0076a3;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
body .video span div button:hover {
  background-color: white;
  color: #0076a3;
}
body .video span div .active {
  background-color: #00b7ff;
}
body .video .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px 20px;
}
@media (max-width: 450px) {
  body .video .container {
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 0px 0px 10px;
  }
}
body .video .container .wrapper {
  position: relative;
}
@media (max-width: 450px) {
  body .video .container .wrapper {
    width: 100%;
    height: auto;
  }
}
body .video .container .wrapper iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  body .video .container .wrapper iframe {
    width: 100%;
  }
}
body .video .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
@media (max-width: 450px) {
  body .video .container ul {
    grid-template-columns: 1fr;
  }
}
body .video .container ul li {
  background-color: #00b7ff;
  display: flex;
  flex-direction: column;
  position: relative;
}
body .video .container ul li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
body .video .container ul li .detail {
  background-color: #0076a3;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
}
body .video .container ul li svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #00b7ff;
  font-size: 25px;
  cursor: pointer;
}
body .video .container .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .video .container .overlay .new-computer {
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}
body .video .container .overlay .new-computer form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body .video .container .overlay .new-computer form input {
  padding: 10px;
}
body .video .container .overlay .new-computer form textarea {
  padding: 10px;
}
body .video .container .overlay .new-computer form button {
  padding: 10px;
  cursor: pointer;
}
body .courses span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  padding: 5px 20px;
  background-color: #00b7ff;
  overflow-x: hidden;
}
@media (max-width: 450px) {
  body .courses span {
    padding: 5px 10px;
  }
}
body .courses span a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}
body .courses span a svg {
  cursor: pointer;
  padding: 5px;
  color: #0076a3;
}
body .courses span div {
  display: flex;
  grid-template-columns: 1fr;
  gap: 5px;
  overflow-x: hidden;
}
body .courses span div button {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0076a3;
  color: white;
  border-radius: 20px;
  border: none;
  text-wrap: flex;
}
body .courses span div button:hover {
  background-color: white;
  color: #0076a3;
}
body .courses span div .active {
  background-color: #00b7ff;
}
body footer {
  background-color: #0076a3;
  color: white;
}
body footer nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
@media (max-width: 450px) {
  body footer nav {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
}
body footer nav a {
  list-style: none;
  cursor: pointer;
}
body footer p {
  text-align: center;
  font-size: small;
  padding: 10px 40px;
}
body footer .contact img {
  width: 40px;
}
body footer .contact ul li {
  color: white;
  list-style: none;
}
body footer .quick-links {
  display: flex;
  flex-direction: column;
}
body footer .quick-links a {
  color: white;
}/*# sourceMappingURL=App.css.map */