@mixin mobile() {
    @media (max-width: 450px) {
        @content
    }
}

* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}

body {

    header {
        background-color: #0076a3;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;

        @include mobile(){
            padding: 10px;
        }

        .logo {
            width: 40px;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 30px;

            .nav-links {
                display: flex;
                max-height: 200px;
                position: relative;
                transition:  0.3s;

                @include mobile(){
                    flex-direction: column;
                    position: fixed;
                    width: 50%;
                    height: 100vh;
                    top: 64px;
                    right: 0;
                    gap: 0;

                    &.active {
                        transform: translateX(0%);
                        z-index: 1;
                    }
        
                    &.inactive {
                        transform: translateX(100%);
                    }
                }
                
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    background-color: #0076a3;
                    padding: 20px;

                    @include mobile(){
                        color: white;

                        &:hover {
                            background-color: #00b7ff;
                            color: white;
                        }
                    }

                }

                .active {
                    background-color: #00b7ff;
                }

                .has-submenu {
                    
                    &:hover {
                        color: white;
                    }

                    a {
                        display: flex;

                        &:hover {
                            color: #00b7ff;
                        }

                        @include mobile(){
                            width: 100%;
                            padding: 30px;

                            &:hover {
                                color: white;
                            }
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0;
                        color: white;
                        position: absolute;
                        right: 0;
                        padding-top: 10px;
                        border-radius: 5px;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(-1rem);
                        transition-property: opacity, visibility, transform;
                        transition-timing-function: ease-in-out;
                        top: 18px;
                        z-index: 1;

                        @include mobile(){
                        }

                        li {
                            padding: 10px;
                            width: 150px;
                            color: white;
                            list-style: none;
                            font-weight: bold;
                            background-color: #00b7ff;
                            cursor: pointer;

                            @include mobile(){
                                width: auto;
                            }

                            &:hover {
                                background-color: white;
                                color: #0076a3;
                            }
                        }
                    }

                    &:hover ul{
                        display: flex;
                        transform: translateX(0);
                        opacity: 1;
                        visibility: visible;

                        @include mobile(){
                            transform: translateX(-100%);
                            position: absolute;
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                            right: 0;
                            width: 100%;
                        }
                    }
                }
            }

            .userAccount {
                display: flex;

                .shopping-cart {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    svg {
                        font-size: 20px;
                        color: white;
                    }

                    span {
                        background-color: #00b7ff;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: -5px;
                        left: 15px;
                    }
                }

                .user-login {
                    display: flex;
                    gap: 5px;

                    button {
                        width: 100px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        color: white;
                    }

                    .profile {
                        background-color: #00b7ff;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        cursor: pointer;

                        svg {
                            font-size: 15px;
                            color: white;
                        }
                    }
                }


                // .....Login pop up

                .userLoginPopup{
                    position: fixed;
                    inset: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 3;

                    .wrapper {
                        background-color: #00b7ff;
                        padding: 10px;

                        h3 {
                            color: white;
                            margin-bottom: 5px;
                        }
                        form {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;

                            input {
                                padding: 10px;
                            }

                            button {
                                padding: 10px;
                            }
                            
                        }

                        p {
                            padding: 10px;
                            border: solid rgb(255, 255, 255) 0.1rem;
                            margin-top: 10px;
                            font-size: small;
                            color: white;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .burger {
            display: none;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            @include mobile(){
                display: flex;
                color: white;
            }
            
            svg {
                font-size: larger;
            }

            div {
                width: 25px;
                height: 3px;
                background-color: white;
                border-radius: 2px;
            }

            .active:nth-child(1){
                transform: translate3d(0, 8px, 0) rotate(45deg);
            }
            .active:nth-child(2){
                transform: scaleX(0);
                opacity: 0;
            }
            .active:nth-child(3){
                transform: translate3d(0, -8px, 0) rotate(-45deg);
            }
        }
    }

    .hero {
        height: 50Vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .hero-details {
            position: absolute;
            color: white;
            left: 40px;

            @include mobile(){
                left: 10px;
                right: 10px;
            }

            button {
                padding: 10px;
                width: 125px;
                cursor: pointer;
                border-radius: 30px;
                border: none;
                background-color: #00b7ff;
                color: white;
                margin-top: 5px;
            }
        }
    }

    .video {
        span {
            display: flex;
            align-items: center;
            overflow-x: hidden;
            gap: 5px;
            padding: 5px 20px;
            background-color: #00b7ff;

            @include mobile(){
                padding: 5px 10px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 5px;

                svg {
                    cursor: pointer;
                    padding: 5px;
                    color: #0076a3;

                }
            }

            div {
                display: flex;
                align-items: center;
                gap: 5px;

                button {
                    padding: 5px 10px;
                    cursor: pointer;
                    background-color: #0076a3;
                    color: white;
                    border-radius: 20px;
                    border: none;
                    font-weight: bold;

                    &:hover {
                        background-color: white;
                        color: #0076a3;
                    }
                }

                .active {
                    background-color: #00b7ff;
                }
            }

            

        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            padding: 10px 20px;

            @include mobile(){
                grid-template-columns: 1fr;
                gap: 5px;
                padding: 0px 0px 10px;
            }

            .wrapper {
                position: relative;
                
                @include mobile(){
                    width: 100%;
                    height: auto;
                }

                iframe {
                    width: 100%;
                    height: 100%;

                    @include mobile(){
                        width: 100%;
                    }
                }
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 10px;

                @include mobile(){
                    grid-template-columns: 1fr;
                }

                li {
                    background-color: #00b7ff;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        object-fit: cover;
                    }
    
                    .detail {
                        background-color: #0076a3;
                        color: white;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        list-style: none;
                        
                    }
    
                    svg {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        color: #00b7ff;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
            }

            .overlay {
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .new-computer {
                    padding: 10px;
                    position: absolute;
                    display: flex;
                    align-items: center;
    
                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
        
                        input {
                            padding: 10px;
                        }
        
                        textarea {
                            padding: 10px;
                        }
        
                        button {
                            padding: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .courses {
        span {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            padding: 5px 20px;
            background-color: #00b7ff;
            overflow-x: hidden;

            @include mobile(){
                padding: 5px 10px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 5px;

                svg {
                    cursor: pointer;
                    padding: 5px;
                    color: #0076a3;
                }
            }

            div {
                display: flex;
                grid-template-columns: 1fr;
                gap: 5px;
                overflow-x: hidden;

                button {
                    display: flex;
                    padding: 5px 10px;
                    cursor: pointer;
                    background-color: #0076a3;
                    color: white;
                    border-radius: 20px;
                    border: none;
                    text-wrap: flex;

                    &:hover {
                        background-color: white;
                        color: #0076a3;
                    }
                }

                .active {
                    background-color: #00b7ff;
                }
            }

        }
    }

    footer { 
        background-color: #0076a3;
        color: white;

        nav {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

            @include mobile(){
                flex-direction: column;
                gap: 10px;
                padding: 10px;
            }

            a {
                list-style: none;
                cursor: pointer;
            }
        }

        p {
            text-align: center;
            font-size: small;
            padding: 10px 40px;
        }

        .contact {
            img {
                width: 40px;
            }

            ul {
                li {
                    color: white;
                    list-style: none;
                }
            }
        }

        .quick-links {
            display: flex;
            flex-direction: column;

            a {
                color: white;
            }
        }
    }
}